{% extends 'base.html' %}

{% block title %}Filmlar ro'yxati{% endblock %}

{% block content %}
<h2 class="mb-4">Filmlar ro'yxati</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="{{ movie.thumbnail.url }}" class="card-img-top" alt="{{ movie.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text text-truncate">{{ movie.description }}</p>
                <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">Batafsil</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
